/* Properties for other selectors */
*{
    font-family: Monaco;
}
.ll>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    padding-bottom: 10px;
}

.ll{
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid green;
}
.menu{
    color: forestgreen;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.menu-container {
    max-width: fit-content;
    display: flex;
    justify-content: center;
    background-color:#E0E0E2;
    margin: 20px auto;
    padding: 20px;
}
/* Add rules for the steps mentioned below */
.section {
	padding: 10px;
}
.label {  
	font-weight: bold;
}
.description {
    font-style: italic;
    border-top: 2px solid #495E57;
}
.item-name {
	margin: 25px;
	font-size: 12px;
}
b {
    float: right;
    margin-top: -15px; /* Inside b */
    color: darkcyan; /* Inside b */
}
.item-name b{
    padding-left: 30px;
}
div > h3 {
    font-size: 20px;
    margin: 20px;
    text-align: center;
    color: #495E57;
}
.label + .low {
    color: brown; 
}
div ~ div {
    color: rgb(90, 90, 90);
}